.file1{
	color: red;
    font-size: xx-large;
    border-bottom-style: double;
	}

.file2{
	color: blue;
    font-size: xx-large;
    border-bottom-style: double;
	}
.file3{
	color: green;
    font-size: xx-large;
    border-bottom-style: double;
	}
 