/*全局通用css*/

/*图标鼠标经过放大效果*/
/*需要两个div配合*/
/*1.外部加一个div控制大小*/
/*2.内部的引用img样式 鼠标经过的时候放大倍数*/
/*3.调用时可以写内置css重写设置符合页面的图片尺寸，此处为默认尺寸*/
.img_box{width:64px;height:64px;overflow: hidden;border-radius: 50%;}
.img{width:64px;transition: all 0.6s;border-radius: 50%;}
.img:hover{transform: scale(2);border-radius: 50%;}
