<!-- Modal 扫码签到支付-->
<div class="modal fade" id="myModalRegistration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="ajaxModelTitle"> ajaxModelTitle</span></h4>
            </div>
            <div class="modal-body">
                <div id="ajaxModelPay">支付</divi>
                    <!--  <p class="text-center">支付宝-扫码支付</p> -->
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    // 调用扫码支付模态框


    function ajaxModelPay(t, id, s, trade_no) {


        var xmlhttp;


        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                // alert("ok");
                // document.getElementById("txtHintOver").innerHTML=xmlhttp.responseText;
                // document.getElementById("bbs").innerHTML=xmlhttp.responseText+document.getElementById("bbs").innerHTML;


                document.getElementById("ajaxModelPay").innerHTML = '开始读取结果';
                document.getElementById("ajaxModelPay").innerHTML = xmlhttp.responseText;
                document.getElementById("ajaxModelTitle").innerHTML = s;

                // 把模态框显示出来
                $('#myModalRegistration').modal('show');


            }


        }
        xmlhttp.open("POST", "{$Think.server.script_name}/index/member/ajaxModelPay/total_fee/" + t + "/subject/" + s + "/body/" + id + "/trade_no/" + trade_no, true);
        xmlhttp.send();

    }

    // 价格 total_fee
    // 主题描述 subject
    // 产品id body
    // 唯一订单号 trade_no

    // 调用模态框
    function show_modal() {
        $('#myModalRegistration').modal('show');
    }

    function public_login(str) {


        var xmlhttp;
        if (str.length == 0) {
            document.getElementById("txtHint").innerHTML = "请输入手机号";
            return;
        }

        if (str.length != 11) {
            document.getElementById("txtHint").innerHTML = "手机号格式有误";
            return;
        }

        // var phone = str.length;
        //   if(!(/^1[34578]\d{9}$/.test(phone))){
        //       document.getElementById("txtHint").innerHTML="手机号格式有误";
        //       return false;
        //   }
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("txtHint").innerHTML = '开始读取数据';
                document.getElementById("txtHint").innerHTML = xmlhttp.responseText;
            }
            if (xmlhttp.status > 200) {

                document.getElementById("txtHint").innerHTML = "请稍后再试 错误：" + xmlhttp.readyState + "状态" + xmlhttp.status;

            }
        }
        xmlhttp.open("POST", "{$Think.server.script_name}/index/api/sms/s/" + str, true);
        xmlhttp.send();
        showtime(120);
    }

</script>


</div>
<div>
    <footer class="bs-docs-footer " style="
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: #99979c;
    text-align: center;
    background-color: #fff">
        <div class="container">

            <p> Tp5简易商城
            </p>


        </div>
    </footer>
</div>

</body>
</html>