<!-- Modal 扫码签到支付-->
<div class="modal fade" id="myModalRegistration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="ajaxModelTitle"> ajaxModelTitle</span></h4>
            </div>
            <div class="modal-body">
                <div id="ajaxModelPay">支付</divi>
                    <!--  <p class="text-center">支付宝-扫码支付</p> -->
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    // 调用扫码支付模态框


    function ajaxModelPay(t, id, s, trade_no) {


        var xmlhttp;


        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                // alert("ok");
                // document.getElementById("txtHintOver").innerHTML=xmlhttp.responseText;
                // document.getElementById("bbs").innerHTML=xmlhttp.responseText+document.getElementById("bbs").innerHTML;


                document.getElementById("ajaxModelPay").innerHTML = '开始读取结果';
                document.getElementById("ajaxModelPay").innerHTML = xmlhttp.responseText;
                document.getElementById("ajaxModelTitle").innerHTML = s;

                // 把模态框显示出来
                $('#myModalRegistration').modal('show');


            }


        }
        xmlhttp.open("POST", "{$Think.server.script_name}/index/member/ajaxModelPay/total_fee/" + t + "/subject/" + s + "/body/" + id + "/trade_no/" + trade_no, true);
        xmlhttp.send();

    }

    // 价格 total_fee
    // 主题描述 subject
    // 产品id body
    // 唯一订单号 trade_no

    // 调用模态框
    function show_modal() {
        $('#myModalRegistration').modal('show');
    }

</script>

<style>
    footer a {
         margin: 5px 5px 5px 25px ;
        color: #333;
    }

    footer a:focus, footer a:hover {
        color: #333;
        text-decoration: underline;
    }
</style>
<footer>

    <p> Copyright © {:date('Y')} ThinkPHP5.0视频教程



        <a class="footer_link" href="{:url('index/index/like','search=路由')}">路由</a>
        <a class="footer_link" href="{:url('index/index/like','search=模型')}">模型</a>
        <a class="footer_link" href="{:url('index/index/like','search=分页')}">分页</a>
        <a class="footer_link" href="{:url('index/index/like','search=支付')}宝">支付宝</a>
        <a class="footer_link" href="{:url('index/index/like','search=签到')}">签到</a>
        <a class="footer_link" href="{:url('index/index/like','search=AP')}I">API</a>
        <a class="footer_link" href="{:url('index/index/like','search=短信')}">短信</a>
    </p>
</footer>


</div>

</body>
</html>