<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:lang('Tp5简易商城')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/skin_{$Think.cookie.skin}.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?bd7e220b3efc6577ecbd05dc98af403a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?98f0256020f52b122738fde23ef1732c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        // 设置bootstrap导航条鼠标经过可以自动下拉打开
        $(document).ready(function () {
            dropdownOpen();//调用
        });

        /**
         * 鼠标划过就展开子菜单，免得需要点击才能展开
         */
        function dropdownOpen() {

            var $dropdownLi = $('li.dropdown');

            $dropdownLi.mouseover(function () {
                $(this).addClass('open');
            }).mouseout(function () {
                $(this).removeClass('open');
            });
        }
    </script>

</head>


<body style="padding-top:70px; ">


<nav class="navbar navbar-inverse navbar-fixed-top">


    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{:url('/')}">ThinkPHP5.0视频教程</a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li>


                    <a href="{:url('index/index/course')}">{:lang('课程表')}<span class="sr-only">(current)</span></a>
                </li>

                {if condition="$Request.url == '__ROOT__/index/member/top'"}
                <li class="active" data-placement="bottom" title="Tooltip on bottom">
                    {else/}
                <li>
                    {/if}


                    <a href="{:url('index/member/footprint')} ">访问数据

                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">{:lang('实战入门')} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">


                        <li><a href="__ROOT__/index/bbs/show">学员__ROOT__评论</a></li>
                        <li><a href="__ROOT__/index/ajax/ajaxrun">最新学员</a></li>
                        <li><a href="__ROOT__/index/member/news">{:lang('最新动态')}<span
                                class="sr-only">(current)</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="__ROOT__/index/member/learning">正在上课学员</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="__ROOT__/index/member/registration">签到排行</a></li>
                        <li><a href="__ROOT__/index/member/top">排行榜</a></li>

                        <li><a href="__ROOT__/index/member/tip">打赏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="__ROOT__/index/member/footprint">网站统计</a></li>
                        <li><a href="{:url('index/member/tip','appointment=1')}">预约录课</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="__ROOT__/index/index/like">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="search"
                           value="{$Think.get.search}">
                </div>
                <button type="submit" class="btn btn-default" style="    margin-bottom: 0px">{:lang('搜索课程')}
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                {if condition="!$Think.cookie.user_id"}


                <li>
                    <a href="__ROOT__/index/index/login">登录</a>

                </li>
                <li>
                    <a href="{:url('index/index/register')}"
                       target="_self">注册</a>
                </li>
                <li>
                    <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=100556678&redirect_uri=http://open.gaoxueya.com/index/api/qq&scope=get_user_info"
                       target="_black">
                        <img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png"/></a>


                </li>
                {/if}

                {if condition="$Think.cookie.user_id"}
                 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        {if condition="$Think.cookie.figureurl_qq_2"}
                        <img class="img-circle" style="width: 28px; height: 28px;"
                             src="{$Think.cookie.figureurl_qq_2}">

                        {else /}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {$Think.cookie.phone}
                        <span class="caret"></span>
                        {/if}
                        </a>
                    <ul class="dropdown-menu">

                        <li><a href="{:url('index/member/registration','regisration_run=1')}">签到打卡</a></li>
                        <li><a href="{:url('index/member/myhome')}">发布随笔</a></li>
                        <li><a href="{:url('index/member/vip')}">VIP中心</a></li>
                        <li><a href="{:url('index/index/order')}">我的订单</a></li>
                        <li><a href="{:url('index/member/diary')}">学习进度</a></li>
                        <li><a href="{:url('index/member/invite')}">邀请注册</a></li>
                        <li><a href="{:url('index/member/money')}">我的积分</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="__ROOT__/index/index/login/logout/1">退出登录</a></li>
                    </ul>
                </li>
                {/if}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">


    {if condition="($Request.module=='index') AND ($Request.controller=='Index') AND
    ($Request.action=='index')" }
    <ol class="breadcrumb">
        <li class="active"> 知识点</li>
        <li><a href="{:url('index/index/like','search=路由')}">路由</a></li>
        <li><a href="{:url('index/index/like','search=模型')}">模型</a></li>
        <li><a href="{:url('index/index/like','search=分页')}">分页</a></li>
        <li><a href="{:url('index/index/like','search=支付')}宝">支付宝</a></li>
        <li><a href="{:url('index/index/like','search=签到')}">签到</a></li>
        <li><a href="{:url('index/index/like','search=微博')}">微博登录</a></li>
        <li><a href="{:url('index/index/like','search=AP')}I">API</a></li>
        <li><a href="{:url('index/index/like','search=短信')}">短信</a></li>
        <li><a href="{:url('index/index/like','search=商城')}">商城</a></li>
        <li><a href="{:url('index/index/like','search=aj')}ax">Ajax</a></li>
        <li><a href="{:url('index/index/like','search=上传')}">上传</a></li>
        <li><a href="{:url('index/index/like','search=演示')}">演示</a></li>
        <li><a href="{:url('index/index/like','search=Bo')}otstrap">Bootstrap</a></li>
        <li><a href="{:url('index/index/like','search=二维')}码">二维码</a></li>

    </ol>
    {/if}


