{include file="index/header" /}

<div class="row">
    <div class="col-md-9">


        <div class="panel panel-default">
            <div class="panel-heading">站点说明</div>
            <div class="panel-body">

                <ul>

                    <li>Thinkphp5基础入门500课同步站点</li>

                    <li>本教程主要针对没有上手的Thinkphp5的小白，轻松上手。</li>

                    <li>ThinkPHP5的运行环境要求PHP5.4以上</li>

                    <li>前端采用bootstrap3+JavaScript</li>

                    <li>实现了简单的 留言板 博客 会员登录 后台管理</li>

                    <li>实现了简单的 微博登录 短信登录 微博登录 支付宝支付</li>

                    <li>本站源码
                        <a href="https://gitee.com/rinuo/tp5/repository/archive/master.zip" target="_blank"
                           data-type="full"
                           class="btn btn-success btn-xm">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> 立即下载</a>
                        <a href="https://gitee.com/rinuo/tp5" target="_blank"> git码云 https://gitee.com/rinuo/tp5</a>
                    </li>


                </ul>

                风格切换：
                <a style="color: #000;" href="{:url('index/member/skin')}"><span class="glyphicon glyphicon-comment"
                                                                                 aria-hidden="true"></span> 默认黑色</a>
                <a style="color: #2ac38a;" href="{:url('index/member/skin',['param'=>'green'])}"><span
                        class="glyphicon glyphicon-comment" aria-hidden="true"></span> 绿色</a>
                <a style="color: #006DF0;" href="{:url('index/member/skin',['param'=>'blue'])}"><span
                        class="glyphicon glyphicon-comment" aria-hidden="true"></span> 蓝色</a>
                <a style="color: #563d7c;" href="{:url('index/member/skin',['param'=>'purple'])}"><span
                        class="glyphicon glyphicon-comment" aria-hidden="true"></span> 紫色</a>
                <a style="color: #777;" href="{:url('index/member/skin',['param'=>'gray'])}"><span
                        class="glyphicon glyphicon-comment" aria-hidden="true"></span> 灰色</a>


            </div>
        </div>

        <script src='https://gitee.com/rinuo/tp5/widget_preview'></script>
        <div id="osc-gitee-widget-tag" style="padding-bottom: 20px"></div>
        <style>
            .osc_pro_color {
                color: #4183c4 !important;
            }

            .osc_panel_color {
                background-color: #f5f5f5 !important;
            }

            .osc_background_color {
                background-color: #ffffff !important;
            }

            .osc_border_color {
                border-color: #e3e9ed !important;
            }

            .osc_desc_color {
                color: #666666 !important;
            }

            .osc_link_color * {
                color: #9b9b9b !important;
            }
        </style>
        <div class="panel panel-default">
            <div class="panel-heading">Thinkphp5 视频课程</div>
            <div class="panel-body">
                <p><a href="https://ke.qq.com/course/package/13307?tuin=eeb0e44"> ThinkhPHP5入门课10季课程包</a></p>
                <p>
                    <a href="https://study.163.com/course/introduction.htm?courseId=1005224025&share=2&shareId=400000000336019">
                        Laravel5.6 零基础入门</a></p>

                <p>
                    <a href="https://study.163.com/course/courseMain.htm?courseId=1006385075&share=2&shareId=400000000336019">
                        FastAdmin入门[ThinkhPHP5后台框架]</a></p>

                <a href="{:url('index/member/footprint')}"><span class="badge">今日访问：{$views_today} 次</span></a>
                <a href="{:url('index/member/footprint')}"><span class="badge">昨日：{$views_yesterday} 次</span></a>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">ThinkPHP6相关 <a hrer="http://rinuo.ke.qq.com">课程 </a> 和 预告</div>
            <div class="panel-body">
                <ul>
                    <li>首先Thinkphp6.* 只提供composer下载 进入了一个新篇章</li>
                    <li>新课在前后端在基础知识和高级知识上都将进一步提升一个级别</li>
                    <li>Thinkphp6实战开发php手册采集到统计已发布第一季</li>
                    <li>Composer安装使用Thinkphp6的4季系列课程已发布</li>
                    <li>Thinkphp6全部支持psr编码规范，已发布视频课</li>
                    <li>前端从bootstrap3提升到到4+Jquery等提升一级</li>
                    <li>Jquery和php基础课已发布补充基础</li>
                    <li>==筹备中的课程==</li>
                    <li>PHP设计模式，更深入了解Thinkphp框架</li>
                    <li>开发一套自己的基础的mvc框架，造个轮子</li>
                    <li>Thinkphp6简易商城开发</li>
                    <li>Git使用小白上手入门课</li>
                    <li>待整理 。。。</li>

                </ul>


            </div>
        </div>


        <div class="row" style="display: none">
            {volist name='qqshow' id='user' key="k"}


            <div class="col-sm-6 col-md-3">
                <div class="thumbnail text-center">
                    <img class="img-responsive center-block img-circle"
                         style="   width: 100px; height: 100px;   margin: 48px auto 0;  padding: 4px;     background: rgba(255,255,255,0.3);"
                         src="{$user.figureurl_qq_2}" data-holder-rendered="true">

                    <div class="caption  text-left">
                        <h3 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">{$user.nickname}
                            <small>
                                ID:{$user.user_id}</small></h3>
                        <p>

                            <span class="label label-default">{$user.gender}</span>
                            <span class="label label-default">{$user.year}</span>
                            <span class="label label-default">{$user.update_time}</span>
                        </p>
                        <p><a href="{:url('index/member/home',['user_id'=>$user.user_id])}" class="btn btn-primary"
                              role="button">主页</a> <a class="btn btn-warning"
                                                      href="{:url('index/member/home',['user_id'=>$user.user_id,'editfollow'=>1]  )}"
                                                      role="button"
                                                      style="border-radius:2px;background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);box-shadow: 0px 1px 2px rgba(0,0,0,0.3);  border-color:  #fa7d3c  ">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 加关注</a></p>
                    </div>
                </div>
            </div>
            {/volist}


            {$qqshow->render()}

        </div>
    </div>
    <div class="col-md-3">

        <div class="btn-group btn-group-justified" role="group" aria-label="..." style="padding-bottom: 15px">
            <div class="btn-group" role="group">
                <a href="{:url('index/member/registration','registration_run=1')}" class="btn btn-success">点此处签到<br>签到有好礼</a>
            </div>

            <div class="btn-group" role="group">
                <a href="{:url('index/member/registration')}" class="btn btn-primary  ">
                    {:date("Y-m-d D")}
                    <br>已有{$registration_today}人签到</a>
            </div>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item disabled">
                最新访客
            </a>
            {volist name="ip_info" id="vo"}
            <a href="#" class="list-group-item">
{$vo.id}: {$vo.region}-{$vo.isp}-{$vo.create_time}<br/>
        </a>
            {/volist}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">手机扫码访问</div>
            <div class="panel-body">


                <div id="qrcode"></div>
                <script>

                    //生成前景色为红色背景色为白色的二维码
                    jQuery('#qrcode').qrcode({
                        render: "canvas", //也可以替换为table
                        foreground: "#337ab7",
                        background: "#fff",
                        width: 230,
                        height: 230,
                        text: "http://open.gaoxueya.com/"
                    });
                </script>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-8644709060035439",
                        enable_page_level_ads: true
                    });
                </script>
            </div>
        </div>

    </div>
</div>

<footer class="col-xs-12 text-center infoheader">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8644709060035439",
            enable_page_level_ads: true
        });
    </script>
    <p>Copyright © 2018-2020</p>
    <p style="display: none">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1275862484'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1275862484%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
</footer>
<p id="chat" style="display: none"></p>
<script>
    $(document).ready(function () {

        console.log(1);

        $("#chat").load("{:url('api/queryIp')}", {
            title: 0,
        }, function (responseTxt, statusTxt, xhr) {
            if (statusTxt == "success")
                console.log("外部内容加载成功！" + responseTxt);
            if (statusTxt == "error")
                console.log("Error: " + xhr.status + ": " + xhr.statusText);
        });


    });
</script>