{layout name="common/basic" /}

<div class="error-page">


    <div class="error-content">
        <h3><i class="fas fa-search"></i>搜索</h3>

        <p>
           搜索一下
        </p>

        <form class="search-form" action="" method="get">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.input-group -->
        </form>
    </div>
    <!-- /.error-content -->
</div>


