{layout name="common/basic" /}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-688518">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-52506" data-toggle="tab">第一部分</a>
					</li>
					<li>
						<a href="#panel-184765" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-52506">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane" id="panel-184765">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered table-hover ">
    <thead>
    <tr>
        <th> 订单号</th>
        <th> 订单名称</th>
        <th> 交易金额</th>
        <th> 订单日期</th>
        <th> 订单状态</th>
    </tr>
    </thead>

    <tbody>
    {volist name='show' id='user'}

    <tr>
        <td> {$user.out_trade_no}</td>
        <td> {$user.subject|mb_substr=0,50,'utf-8' }</td>
        <td> {$user.total_amount}</td>
        <td> {$user.create_time}</td>
        <td>
			<span class="right badge badge-success">{$user.status?"已支付":""}</span>
			<span class="right badge badge-danger">{$user.status?"":"未支付"}</span>
        </td>

    </tr>


    {/volist}
    </tbody>
</table>
{$show->render()}

