{layout name="common/basic" /}
<script>
    function showHint(str) {


        var xmlhttp;
        if (str.length == 0) {
            document.getElementById("txtHint").innerHTML = "请输入手机号";
            return;
        }

        if (str.length != 11) {
            document.getElementById("txtHint").innerHTML = "手机号格式有误";
            return;
        }

        // var phone = str.length;
        //   if(!(/^1[34578]\d{9}$/.test(phone))){
        //       document.getElementById("txtHint").innerHTML="手机号格式有误";
        //       return false;
        //   }
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("txtHint").innerHTML = '开始读取数据';
                document.getElementById("txtHint").innerHTML = xmlhttp.responseText;
            }
            if (xmlhttp.status > 200) {

                document.getElementById("txtHint").innerHTML = "请稍后再试 错误：" + xmlhttp.readyState + " 状态" + xmlhttp.status;

            }
        }
        xmlhttp.open("POST", "{$Think.server.script_name}/index/api/sms/s/" + str, true);
        xmlhttp.send();
        showtime(120);
    }
</script>

<script type="text/javascript">

    function showtime(t) {
        document.getElementById("sms").disabled = true;
        for (i = 1; i <= t; i++) {
            window.setTimeout("update_p(" + i + "," + t + ")", i * 1000);
        }

    }

    function update_p(num, t) {
        if (num == t) {
            document.getElementById("sms").innerHTML = "重新发送";
            document.getElementById("sms").disabled = false;
        } else {
            printnr = t - num;
            document.getElementById("sms").innerHTML = " (" + printnr + ")s";
        }
    }
</script>


<form action="" method="post" name="myform">


    <div class="form-group ">
        <label>手机号:</label>
        <input type="text" class="form-control" id="tel182" name="phone"
               value="{$Request.param.phone}" placeholder="请输入手机号" maxlength="100"
               autocomplete="on">
    </div>


    <div class="row">

        <div class="col-lg-6" style="margin-bottom: 10px;">
            <div class="input-group">
                <input type="text" class="form-control" name="rand" placeholder="请输入验证码">
                <span class="input-group-btn">
                             <button class="btn btn-default" id="sms" type="button"
                                     onclick="showHint(document.getElementById('tel182').value)">获取验证码</button>
                                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->


    <div class="form-group">
        <label for="exampleInputPassword1">新密码:</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1"
               placeholder="请输入新密码">
    </div>

    <p class="form-group form-inline">
        <button type="submit" id="btngo" class="btn btn-primary"> 提交
        </button>
        <span id="txtHint" style="color: orangered;padding-left: 5px">{$warning}</span>
    </p>


</form>







