{layout name="common/basic" /}

<!-- left column -->
<div class="col-md-12">
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">留言板 <small>发表留言</small></h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" id="quickForm" action="{:url('index/bbs/add')}" method="post">
            <div class="card-body">
                <div class="form-group">

                 <label  >留言内容:</label>
                <textarea class="form-control" rows="3" id="title" name="title" value=""
                          placeholder="请输入留言内容"></textarea>


                </div>




            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">提交留言</button>
            </div>
        </form>


    </div>
    <!-- /.card -->
</div>

 

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th> ID</th>
        <th> 课堂笔记/评论</th>
        <th> 用户</th>
        <th> 发布时间</th>
    </tr>
    </thead>

    <tbody>
    {volist name='show' id='vo'}

    <tr>
        <th> {$vo.id}</th>
        <td><a href="{:url('index/member/home',['user_id'=>$vo.user_id])}">{$vo.title|mb_substr=0,20,'utf-8'
            }</a></td>
        <td> <a href="{:url('index/member/home',['user_id'=>$vo.user_id])}" >{$vo.user.nickname?:$vo.user_id}</a></td>
        <td> {$vo.create_time}</td>
    </tr>
    {/volist}
    </tbody>
</table>
{$show->render()}
