{layout name="common/basic" /}

 <div class="row">
          <div class="col-lg-6">

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">{$message.title}</h5>

                <p class="card-text">
                  {$message.content}
                </p>
<a href="{:url('index/msg/notice')}" >查看全部通知</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->

        </div>