{layout name="common/basic" /}


<table class="table table-striped">

    <tbody>
    {volist name="visits" id="vo"}
    <tr>
        <th scope="row">{$vo.create_time}</th>
        <td><span  data-toggle="popover"  data-id="{$vo.user_id}" >{$vo.user_id}</span> </td>
        <td><img src="{$vo.user.photo}" class="img-size-50 img-circle mr-3"/></td>
        <td><a href="{:url('index/member/home',['user_id'=>$vo.user_id])}" target="_blank">回访</a></td>
    </tr>
    {/volist}




    </tbody>
</table>
{$visits->render()}