{include file="index/header" /}


<div class="row">
  <div class="col-md-12"> 

 <img    class="img-responsive center-block img-circle"    src="__STATIC__/images/user/user ({:rand(1,25)}).jpg" data-holder-rendered="true" style="width: 130px; height: 130px;">

 <br>
  <p class="text-center">
<small>
 
    <a href="{:url('index/member/home', ['user_id' => $user.id])}">{$user.phone|substr=0,3}****{$user.phone|substr=7,4}</a> 
 <br>
    {$user.rand? 'VIP' : ''}

<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    {$user.create_time} 加入 
    

    <span class="glyphicon glyphicon-yen" aria-hidden="true"></span> {$user.online_time} 分钟

    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
     {$user.ipinfo.city}

     <span class="glyphicon glyphicon-map-marker " aria-hidden="true"></span> 
    {$user.ipinfo.region}


    <span class="glyphicon glyphicon-signal " aria-hidden="true"></span> {$user.ipinfo.isp}
 

</small>
     </p>
  </div>
</div>


<div class="page-header">
      最新动态
</div>
<div class="panel panel-default">
    <div class="panel-body"> 

          最新学习课程

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">学习进度：</div>
    <div class="panel-body">

在线问答
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">说明：</div>
    <div class="panel-body">
         
        <h5><small>  刚上线 各种奖励 bug 逐步开发中...</small></h5>


    </div>
</div>


 

{include file="index/footer" /}