{include file="index/header" /}

<!-- 顶部的头像区域 -->
<div class="row" style="color: white">
  <div class="col-md-12"  > 
 
 <img    class="img-responsive center-block img-circle" style="   width: 100px; height: 100px;   margin: 48px auto 0;  padding: 4px;     background: rgba(255,255,255,0.3);"   src="__STATIC__/images/user/user ({:rand(1,25)}).jpg" data-holder-rendered="true"  >

 <br>


  <p class="text-center">
 
 
     学习tp5的JACK 
   相互学习 共同进步 ~ 
 <br>
    {$user.rand? 'VIP' : ''}

<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    {$user.create_time} 加入 
    

    <span class="glyphicon glyphicon-yen" aria-hidden="true"></span> {$user.online_time} 分钟

    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
     {$user.ipinfo.city}

     <span class="glyphicon glyphicon-map-marker " aria-hidden="true"></span> 
    {$user.ipinfo.region}


    <span class="glyphicon glyphicon-signal " aria-hidden="true"></span> {$user.ipinfo.isp}
 

</small>
     </p>
  </div>
</div>

<!-- 主要的左右结构内容 -->
<div class="row">

  <!-- 左侧开始 -->
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">学习进度：</div>
        <div class="panel-body">

                    在线问答
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">公告：</div>
        <div class="panel-body">
         
           这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告 


        </div>

     </div>


  </div> 
  <!-- 左侧结束 -->


  <!-- 右侧开始 -->
  <div class="col-xs-6 col-md-8">


      <div class="panel panel-default">
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">公告：</div>
        <div class="panel-body">
         
           这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告 


        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">公告：</div>
        <div class="panel-body">
         
           这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告这里加公告 


        </div>

      </div>

  </div>
  <!-- 右侧结束 -->
</div>
<!-- 左右结构结束 -->

 










 

{include file="index/footer" /}