{layout name="common/basic" /}




<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总积分</span>
                <span class="info-box-number">{$integral}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">金币余额</span>
                <span class="info-box-number">{$money}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">已消费金币</span>
                <span class="info-box-number">{$integral-$money}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

            <div class="info-box-content">
                <a href="{:url('index/alipay/money')}" target="_blank"><span class="info-box-text">积分/金币充值</span></a>
                 <span class="info-box-number">1元= 10个积分和金币</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>




{if condition="$list"}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">获得积分/金币明细</h3>

        <div class="card-tools">
            {$list->render()}
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 10px"> ID</th>
                <th> 类型</th>
                <th> 积分/金币</th>
                <th> 说明</th>
                <th> 日期</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='user'}

            <tr>
                <th> {$user.id}</th>
                <th> {$user.money<0?'消费金币':'获得积分和金币'}</th>
                <th> {$user.money}个</th>
                <th> {$user.content}</th>
                <th> {$user.create_time}</th>
            </tr>

            {/volist}


            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>


{/if}




    <h6> 邀请一个会员注册可以获得100金币和积分</h6>



