{include file="index/header" /}


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="page-header">
            <h2 style="color: #337ac4;"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 商城支付体验 - 签到打卡
                <small> 今日签到：<span style="color: red">{$list->total()}</span> </small>
                <form role="form" id="quickForm" action="{:url('index/alipay/index')}" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="type" value="135" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="price" value="0.01" class="form-control" placeholder="大于0.1元">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="title" value="扫码签到" class="form-control" placeholder="大于0.1元">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="return_url" value="index/member/checkin" class="form-control"
                                   placeholder="大于0.1元">
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">一分钱支付宝 扫码签到</button>
                    </div>
                </form>


            </h2>
        </div>
        <div class="panel panel-danger" style="display: none">
            <!-- Default panel contents -->
            <div class="panel-heading" style="display: none">签到送VIP</div>
            <style type="text/css">
                th {
                    color: #D8582B;
                }
            </style>
            <!-- Table -->
            <table class="table" style="display: none">
                <thead>
                <tr>
                    <td>说明</td>
                    <td>奖励1</td>
                    <td>奖励2</td>
                    <td>奖励3</td>
                    <td>奖励4</td>
                    <td>奖励5</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">连续签到天数</td>
                    <th>3</th>
                    <th>8</th>
                    <th>16</th>
                    <th>32</th>
                    <th>>32</th>
                </tr>
                <tr>
                    <td scope="row">赠送VIP天数
                    </th>
                    <th>1</th>
                    <th>3</th>
                    <th>6</th>
                    <th>18</th>
                    <th>每天都奖励VIP</th>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="tabbable" id="tabs-323015">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-862765" data-toggle="tab">图文</a>
                </li>
                <li>
                    <a href="#panel-401557" data-toggle="tab">列表</a>
                </li>
                <li>
                    <a href="#panel-yesterday" data-toggle="tab">昨天 <span class="badge">{$yesterday->total()}</span></a>
                </li>
                <li>
                    <a href="#panel-all" data-toggle="tab">最近7天 <span class="badge">{$list_all->total()}</span></a>
                </li>


            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-862765">
                    <div class="row" style="padding: 15px">


                        {volist name='$list' id='user' key="k"}
                        <div class="col-xs-12 col-sm-6 col-md-4 " style="padding: 0px;">


                            <div class="media">
                                <div class="media-left">
                                    <div class="img_box">
                                        <a href="{:url('index/member/home', ['user_id' => $user.user_id])}">
                                            <img class="media-object img-circle img"
                                                 src="{$user.user.photo?$user.user.photo:'__STATIC__/images/user/user-photo-default.jpg'}"
                                                 data-holder-rendered="true" style="width: 64px; height: 64px;">
                                        </a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <small><a href="{:url('index/member/home', ['user_id' => $user.user_id])}">{$user.user.nickname?$user.user.nickname:$user.user_id}</a>
                                        NO.<span style="color: #D8582B;font-weight: bold;">{$k}</span></small>
                                    <h5><small>签到时间：<span
                                            style="color: #D8582B;font-weight: bold;">{$user.create_time}</span></small>
                                    </h5>
                                    <h5><small>连续签到：<span style="color: #D8582B;font-weight: bold;">{$user.rand}</span>天</small>
                                    </h5>
                                </div>
                            </div>


                            <hr>


                        </div>


                        {/volist}

                        {$list->render()}
                    </div>
                </div>
                <div class="tab-pane" id="panel-401557">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th> ID</th>
                                <th> 今日签到排名</th>
                                <th> 签到时间</th>
                                <th>连续签到天数</th>
                            </tr>
                            </thead>

                            <tbody>
                            {volist name='list' id='user' key="k"}

                            <tr>
                                <td> {$user.user.nickname?$user.user.nickname:$user.user_id}</td>
                                <td><h5><small>NO.</small><span style="color: tomato">{$k}</span></h5></td>
                                <td> {$user.create_time}</td>
                                <td> {$user.rand}</td>
                            </tr>

                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    {$list->render()}
                </div>
                <div class="tab-pane " id="panel-yesterday">
                    <div class="row" style="padding: 15px">


                        {volist name='yesterday' id='user' key="k"}
                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding: 0px;">


                            <div class="media">
                                <div class="media-left">
                                    <a href="{:url('index/member/home', ['user_id' => $user.user_id])}">
                                        <img class="media-object img-circle"
                                             src="{$user.user.photo?$user.user.photo:'__STATIC__/images/user/user-photo-default.jpg'}"
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <small><a href="{:url('index/member/home', ['user_id' => $user.user_id])}">{$user.user.nickname?$user.user.nickname:$user.user_id}</a>
                                        NO.<span style="color: #D8582B;font-weight: bold;">{$k}</span></small>
                                    <h5><small>签到时间：<span
                                            style="color: #D8582B;font-weight: bold;">{$user.create_time}</span></small>
                                    </h5>
                                    <h5><small>连续签到：<span style="color: #D8582B;font-weight: bold;">{$user.rand}</span>天</small>
                                    </h5>
                                </div>
                            </div>


                            <hr>


                        </div>


                        {/volist}

                        {$list->render()}
                    </div>
                </div>
                <div class="tab-pane " id="panel-all">
                    <div class="row" style="padding: 15px">

                        {volist name='list_all' id='user' key="k"}
                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding: 0px;">


                            <div class="media">
                                <div class="media-left">
                                    <a href="{:url('index/member/home', ['user_id' => $user.user_id])}">

                                        <img class="media-object img-circle"
                                             src="{$user.user.photo?$user.user.photo:'__STATIC__/images/user/user-photo-default.jpg'}"
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <small><a href="{:url('index/member/home', ['user_id' => $user.user_id])}">{$user.user.nickname?$user.user.nickname:$user.user_id}</a>
                                        NO.<span style="color: #D8582B;font-weight: bold;">{$k}</span></small>
                                    <h5><small>签到时间：<span
                                            style="color: #D8582B;font-weight: bold;">{$user.create_time}</span></small>
                                    </h5>
                                    <h5><small>连续签到：<span style="color: #D8582B;font-weight: bold;">{$user.rand}</span>天</small>
                                    </h5>
                                </div>
                            </div>


                            <hr>


                        </div>


                        {/volist}

                        {$list->render()}
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">连续签到排名</div>
            <div class="panel-body">
                {volist name='list_top' id='user' key="k"}
                <div class="col-xs-12 col-sm-6 col-md-12" style="padding: 0px;">


                    <div class="media">
                        <div class="media-left">
                            <div class="img_box">
                                <a href="{:url('index/member/home', ['user_id' => $user.user_id])}">
                                    <img class="media-object img-circle img"
                                         src="{$user.user.photo?$user.user.photo:'__STATIC__/images/user/user-photo-default.jpg'}"
                                         data-holder-rendered="true"
                                         style="width: 64px; height: 64px;">
                                </a>
                            </div>
                        </div>
                        <div class="media-body">
                            <small><a href="{:url('index/member/home', ['user_id' => $user.user_id])}">{$user.user.nickname?$user.user.nickname:$user.user_id}</a>
                                NO.<span style="color: #D8582B;font-weight: bold;">{$k}</span></small>
                            <h5><small>签到时间：<span
                                    style="color: #D8582B;font-weight: bold;">{$user.create_time}</span></small></h5>
                            <h5><small>连续签到：<span style="color: #D8582B;font-weight: bold;">{$user.rand}</span>天</small>
                            </h5>
                        </div>
                    </div>


                    <hr>


                </div>


                {/volist}
            </div>
        </div>
    </div>
</div>


{include file="index/footer" /}